{{define "title"}}
  About
{{end}}

{{define "content"}}
  <h1>About</h1>
  <h5>
    GAEGo Starter provides a foundation for creating User Centric App
    Engine Applications targeting the Go runtime.
  </h5>

  <h3>Source</h3>
  <a href="https://github.com/gaego/starter">github.com/gaego/starter</a>

  <h3>Features</h3>
  <ul>
  	<li>User Authentication</li>
  	<li>User Sessions</li>
  	<li>User Access Control Lists</li>
  	<li>Email Notificatins</li>
  </ul>

  <h3>TODO</h3>
  <ul>
  	<li>Active nav item template function</li>
  </ul>
{{end}}
